
{% extends "learning_logs/base.html" %}

{% block page_header %}
  <h1>Topics</h1>
{% endblock page_header %}

{% block content %}

  <ul>
      {% for topic in topics %}
        <div class="card mb-3">
            <h3 class="card-header">
                <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
                <small>         Added on {{ topic.date_added|date:'M d, Y' }}</small>
            </h3>
        </div>
      {% empty %}
      <li><h3>No topics have been added yet.</h3></li>
      {% endfor %}
  </ul>

  <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:new_topic' %}" role="button">Add a new topic</a>

{% endblock content %}